/* Asenine */
@font-face {
  font-family: 'Asenine Wide';
  src: url('../fonts/ASENW___.eot');
  src: url('../fonts/ASENW___.eot?#iefix') format('embedded-opentype'), url('../fonts/ASENW___.woff') format('woff'), url('../fonts/ASENW___.ttf') format('truetype'), url('../fonts/ASENW___.svg#ASENW___') format('svg');
  font-weight: normal;
  font-style: normal;
}