#hero {
  background: $teritary-blue-dark url('../img/hero-bg-1.png') center no-repeat;
  background-size: cover;
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

// Hero color overlay
.hero-color {
  background: transparentize($teritary-blue-dark, .63);
}

// Hero gradient overlay
.hero-gradient {
  background-image: radial-gradient(at top, transparent 50%, darken($teritary-blue-dark, 20%) 90%);
  background-repeat: no-repeat;
}

// Hero heading module
.hero-heading {
  text-align: center;
  color: #fff;
  h2 {

  }
}