//===============
// Hero section
//===============

$gradient-overlay-color: #0d111c;

  //== Hero
//
//##
#hero {
  background: $tertiary-blue-dark url('../img/hero-bg-2.jpg') center 70% no-repeat;
  background-size: cover;
  .container {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}

// Hero gradient and color overlay
.hero-overlay {
  background-color: transparentize($tertiary-blue-dark, .45);
  background-image: linear-gradient(to top,$gradient-overlay-color 28%,transparent 42%),radial-gradient(circle at top,transparent 68%,$gradient-overlay-color 83%);
  background-repeat: no-repeat;
}

//== Hero Heading
//
//##
.hero-heading {
  text-align: center;
  color: #fff;
  margin: 0 auto 160px;
  width: 750px;
  @extend .hero-text;
  text-shadow: 1px 1px 1px $tertiary-blue-dark-darker10;
  h2 {
    @extend .hero-title;
    text-shadow: 1px 1px 1px $tertiary-blue-dark-darker10;
    margin-bottom: 25px;
    color: #fff;
  }
}

// Hero title
.hero-title {
  font-size: $font-size-xxxxl;
  line-height: 1.1320754717; // ~60px
  font-weight: $font-weight-light;
}

// Hero text
.hero-text {
  @extend .lead-xl;
}

//== Hero Teaser
//
//##
.hero-teaser {
  article {
    background: #fff;
    text-align: center;
    padding-top: $grid-gutter-width;
    border-radius: 2px;
    transition: all .2s ease-in;
  }

  header {
    display: block;
    padding: 0 $grid-gutter-width;
  }

  .icon-circled {
    @extend .icon-circled-primary;
  }

  .hero-teaser-title {
    font-size: $font-size-xl;
  }

  .hero-teaser-body {
    display: block;
    padding: 0 $grid-gutter-width $grid-gutter-width;
    min-height: 120px;
  }

  footer {
    display: block;
    font-size: $font-size-lg;
    font-weight: $font-weight-light;
    a {
      display: block;
      background: $primary-blue;
      color: #fff;
      padding: ($grid-gutter-width / 2) $grid-gutter-width;
      color: #fff;
      text-decoration: none;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  // Hover effect
  > div {
    position: relative;
    transition: all .2s ease-in;
    transform: scale(1);
    z-index: 1;
    &:hover {
      z-index: 2;
      transform: scale(1.05);
      article {
        box-shadow: 0 0 $grid-gutter-width $gradient-overlay-color;
      }
    }
  }

  // First teaser
  > div:first-child {
    .icon-circled {
      @extend .icon-circled-additional-secondary-olive;
    }
    footer a {
      background: $additional-secondary-olive;
    }
  }

  // Last Teaser
  > div:last-child {
    .icon-circled {
      @extend .icon-circled-secondary-orange;
    }
    footer a {
      background: $secondary-orange;
    }
  }
}
