//===============
// Module styles
//===============

//== Features and benefits
//
//##
.features {
  text-align: center;
  h2 {
    color: #fff;
    margin-bottom: 50px;
  }
  .feature {
    padding: ceil(($grid-gutter-width / 2)) $grid-gutter-width;
    .icon-circled {
      margin-bottom: 20px;
    }
  }
}

//== Finder
//
//##
.finder {
  background: #fff url('../img/finder-bg.jpg') center bottom no-repeat;
  .pretty-select {
    width: 270px;
    margin-right: 10px;
    select {
      width: 100%;
    }
  }
  button[type="submit"] {
    padding-left: 20px;
    padding-right: 20px;
  }
}