//===============
// Navbar
//===============

//== Navbar header and brand
//
//##
.navbar-header {
  float: none;
}

.navbar-brand {
  height: auto;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: all .6s ease;
  @media (min-width: $grid-float-breakpoint) {
    margin: 15px 0 0;
  }
  a {
    &:hover {
      text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 1px;
      text-decoration: none;
    }
  }
  span {
    font-family: Asenine Wide;
    letter-spacing: 1px;
    font-size: 33px;
    color: #fff;
    vertical-align: middle;
    margin-left: 5px;
    transition: opacity 1s ease;
    @media (min-width: $grid-float-breakpoint) {
      font-size: 40px;
    }
    sup {
      font-size: 10px;
      top: -1.8em;
    }
  }
  img {
    width: 35px;
    height: auto;
    @media (min-width: $grid-float-breakpoint) {
      width: auto;
    }
    transition: all .6s ease;
  }
}

// b3 override
.navbar>.container .navbar-brand {
  margin-left: 0;
}

// Shrink effect
@media (min-width: $grid-float-breakpoint) {
  .nav-shrinked {
    .navbar-header {
      float: left;
      .navbar-brand {
        margin: 0 0 0 -7px;
        padding: 7px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        img {
          width: 35px;
          height: auto;
        }
        span {
          color: $tertiary-blue-dark;
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
}
//== Common navbar styles
//
//##
#navbar {
  > ul {
    > li {
      > a {
        font-weight: $font-weight-light;
        font-size: 18px;
      }
    }
  }
}


//== Main nav
//
//##
.nav-header {
  @extend .dropdown-header;
}

//== Language nav
//
//##
.icon-earth {
  @extend .fa;
  @extend .fa-globe;
  @extend .fa-lg;
  color: $tertiary-blue-dark-white70;
}

//== Navbar form (search)
//
//##
.navbar-form {
  @media (min-width: $grid-float-breakpoint) {
    padding-right: 0;
    padding-left: 0;
  }
  .form-control {
    color: $tertiary-blue-dark-white70;
    background: $tertiary-blue-dark-darker10;
    border-color: $tertiary-blue-dark-darker10;
    padding-left: 15px;
    box-shadow: none;
    font-weight: $font-weight-light;
  }
  .input-group-btn {
    .btn {
      background: $tertiary-blue-dark-darker10;
      color: $tertiary-blue-dark-white70;
      border-color: $tertiary-blue-dark-darker10;
    }
  }

  // Placeholder
  ::-webkit-input-placeholder {
    font-weight: $font-weight-light;
    color: $tertiary-blue-dark-white70;
  }
  :-moz-placeholder {
    font-weight: $font-weight-light;
    color: $tertiary-blue-dark-white70;
  }
  ::-moz-placeholder {
    font-weight: $font-weight-light;
    color: $tertiary-blue-dark-white70;
  }
  :-ms-input-placeholder {
    font-weight: $font-weight-light;
    color: $tertiary-blue-dark-white70;
  }
}
