//===============
// Navbar
//===============

//== Navbar header and brand
//
//##
.navbar-header {
  float: none;
}

.navbar-brand {
  height: auto;
  margin: 15px 0 0;
  transition: all .6s ease;
  a {
    &:hover {
      text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 1px;
      text-decoration: none;
    }
  }
  span {
    font-family: Asenine Wide;
    letter-spacing: 1px;
    font-size: 40px;
    color: #fff;
    vertical-align: middle;
    margin-left: 5px;
    transition: opacity 1s ease;
    sup {
      font-size: 10px;
      top: -1.8em;
    }
  }
  img {
    transition: all .6s ease;
  }
}
// b3 override
.navbar>.container .navbar-brand {
  margin-left: 0;
}

// Shrink effect
.nav-shrinked {
  .navbar-header {
    float: left;
    .navbar-brand {
      margin: 0 0 0 -15px;
      padding: 7px;
      width: 50px;
      height: 50px;
      overflow: hidden;
      img {
        width: 35px;
        height: auto;
      }
      span {
        color: $teritary-blue-dark;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

//== Main nav
//
//##
.nav-header {
  @extend .dropdown-header;
}

//== Language nav
//
//##
.icon-earth {
  @extend .fa;
  @extend .fa-globe;
  @extend .fa-lg;
}

//== Navbar form (search)
//
//##
.navbar-form {
  padding-right: 0; // TODO check collapsed viewports
  padding-left: 0; // TODO check collapsed viewports
  .form-control {
    color: $teritary-blue-dark-white70;
    background: $teritary-blue-dark-darker10;
    border-color: $teritary-blue-dark-darker10;
    padding-left: 15px;
    box-shadow: none;
  }
  .input-group-btn {
    .btn {
      background: $teritary-blue-dark-darker10;
      color: #fff;
      border-color: $teritary-blue-dark-darker10;
    }
  }

  // Placeholder
  ::-webkit-input-placeholder {
    color: $teritary-blue-dark-white70;
  }
  :-moz-placeholder {
    color: $teritary-blue-dark-white70;
  }
  ::-moz-placeholder {
    color: $teritary-blue-dark-white70;
  }
  :-ms-input-placeholder {
    color: $teritary-blue-dark-white70;
  }
}
