//===============
// Extension overrides and styles
//===============

// Scroll to top plugin
#scrollToTop {
  background: $brand-primary !important;
}

// Adblocker
#adblock-msg {
  background: $brand-danger;
  min-height: 20px;
  color: #fff;
  padding: 15px;
  font-size: 16px;
  border: none;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
}