//===============
// Module styles
//===============

//== Mixins
//
//##

// Shadow effect

// Circle size
@mixin icon-circled-size($size) {
  width: $size;
  height: $size;
  line-height: $size;
  font-size: ceil(($size / 2));
  .svg-icon {
    margin: -4px -2px 0 0;
  }
}

// Circle variant
@mixin icon-circled-variant($background, $color) {
  background: $background;
  color: $color;
}

// Long shadow
@mixin long-shadow($color, $length: 15, $type: 'box') {
  $shadow: '';

  // Box
  @if $type == 'box' {
    @for $i from 0 to $length - 1 {
      $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * .1 + 'px ' + $color + ',';
    }
  }

  // Text
  @if $type == 'text'{
    @for $i from 0 to $length - 1 {
      $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $color + ',';
    }
  }

  $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba(0,0,0,0);
  $shadow: unquote($shadow);

  @if $type == 'box' {
    box-shadow: $shadow;
  }
  @if $type == 'text' {
    text-shadow: $shadow;
  }
}

//== Svg icon
//
//##
.svg-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  display: inline-block;
  vertical-align: middle;
}

//== Icon circled
//
//##
.icon-circled {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  @include icon-circled-size(75px);
  @include icon-circled-variant($neutral-gray-light, $neutral-gray-dark);
}

//== Icon circled sizes
//
//##
.icon-circled-sm {
  @include icon-circled-size(45px);
}

.icon-circled-lg {
  @include icon-circled-size(100px);
}

//== Icon circled variants
//
//##
// Primary colors
.icon-circled-primary {
  @include icon-circled-variant($brand-primary, #fff);
  &.icon-shadowed {
    .svg-icon {
      @include long-shadow(#4882b8);
    }
  }
}

// Secondary colors
.icon-circled-secondary-blue {
  @include icon-circled-variant($secondary-blue, #fff);
  &.icon-shadowed {
    .svg-icon {
      @include long-shadow(#69abd1);
    }
  }
}

.icon-circled-secondary-yellow {
  @include icon-circled-variant($secondary-yellow, #fff);
  &.icon-shadowed {
    @include long-shadow(#e4af45);
  }
}

.icon-circled-secondary-orange {
  @include icon-circled-variant($secondary-orange, #fff);
  &.icon-shadowed {
    .svg-icon {
      @include long-shadow(#d9653b);
    }
  }
}

// Additional seconday colors
.icon-circled-additional-secondary-green {
  @include icon-circled-variant($additional-secondary-green, #fff);
  &.icon-shadowed {
    .svg-icon {
      @include long-shadow(#408c70);
    }
  }
}

.icon-circled-additional-secondary-olive {
  @include icon-circled-variant($additional-secondary-olive, #fff);
  &.icon-shadowed {
    .svg-icon {
      @include long-shadow(#7bb35a);
    }
  }
}

.icon-circled-additional-secondary-purple {
  @include icon-circled-variant($additional-secondary-purple, #fff);
  &.icon-shadowed {
    .svg-icon {
      @include long-shadow(#6a509f);
    }
  }

  .icon-circled-additional-secondary-red {
    @include icon-circled-variant($additional-secondary-red, #fff);
    &.icon-shadowed {
      @include long-shadow(#ba5e5e);
    }
  }
}

.icon-circled-additional-secondary-scarlet {
  @include icon-circled-variant($additional-secondary-scarlet, #fff);
  &.icon-shadowed {
    .svg-icon {
      @include long-shadow(#c73f43);
    }
  }
}

.icon-circled-additional-secondary-orange {
  @include icon-circled-variant($additional-secondary-orange, #fff);
  &.icon-shadowed {
    .svg-icon {
      @include long-shadow(#c25a35);
    }
  }
}

// neutral colors
.icon-circled-white {
  @include icon-circled-variant(#fff, $text-color);
  &.icon-shadowed {
    .svg-icon {
      @include long-shadow($neutral-gray-lighter);
    }
  }
}
