//===============
// Module styles
//===============

//== Variables
//
//##
$shadow-color-darken-percent: 16%;

//== Mixins
//
//##

// Shadow effect
@mixin icon-shadowed($color) {
  text-shadow: $color 1px 1px,
  $color 2px 2px,
  $color 3px 3px,
  $color 4px 4px,
  $color 5px 5px,
  $color 6px 6px,
  $color 7px 7px,
  $color 8px 8px,
  $color 9px 9px,
  $color 10px 10px,
  $color 11px 11px,
  $color 12px 12px,
  $color 13px 13px,
  $color 14px 14px,
  $color 15px 15px,
  $color 16px 16px,
  $color 17px 17px,
  $color 18px 18px,
  $color 19px 19px,
  $color 20px 20px,
  $color 21px 21px,
  $color 22px 22px,
  $color 23px 23px,
  $color 24px 24px,
  $color 25px 25px,
  $color 26px 26px,
  $color 27px 27px,
  $color 28px 28px,
  $color 29px 29px,
  $color 30px 30px,
  $color 31px 31px,
  $color 32px 32px,
  $color 33px 33px,
  $color 34px 34px,
  $color 35px 35px,
  $color 36px 36px,
  $color 37px 37px,
  $color 38px 38px,
  $color 39px 39px,
  $color 40px 40px,
  $color 41px 41px,
  $color 42px 42px,
  $color 43px 43px,
  $color 44px 44px,
  $color 45px 45px,
  $color 46px 46px,
  $color 47px 47px,
  $color 48px 48px,
  $color 49px 49px,
  $color 50px 50px;
}

// Circle size
@mixin icon-circled-size($size) {
  width: $size;
  height: $size;
  line-height: $size;
  font-size: ceil(($size / 2));
}

// Circle variant
@mixin icon-circled-variant($background, $color) {
  background: $background;
  color: $color;
}

//== Svg icon
//
//##
.svg-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  display: inline-block;
  vertical-align: middle;
}

//== Icon circled
//
//##
.icon-circled {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  @include icon-circled-size(75px);
  @include icon-circled-variant($neutral-gray-light, $neutral-gray-dark);
}

//== Icon circled sizes
//
//##
.icon-circled-sm {
  @include icon-circled-size(45px);
}

.icon-circled-lg {
  @include icon-circled-size(100px);
}

//== Icon circled variants
//
//##
// Primary colors
.icon-circled-primary {
  @include icon-circled-variant($brand-primary, #fff);
  &.icon-shadowed {
    @include icon-shadowed(#4882b8);
  }
}

// Secondary colors
.icon-circled-secondary-blue {
  @include icon-circled-variant($secondary-blue, #fff);
  &.icon-shadowed {
    @include icon-shadowed(#69abd1);
  }
}

.icon-circled-secondary-yellow {
  @include icon-circled-variant($secondary-yellow, #fff);
  &.icon-shadowed {
    @include icon-shadowed(#e4af45);
  }
}

.icon-circled-secondary-orange {
  @include icon-circled-variant($secondary-orange, #fff);
  &.icon-shadowed {
    @include icon-shadowed(#d9653b);
  }
}

// Additional seconday colors
.icon-circled-additional-secondary-green {
  @include icon-circled-variant($additional-secondary-green, #fff);
  &.icon-shadowed {
    @include icon-shadowed(#408c70);
  }
}

.icon-circled-additional-secondary-olive {
  @include icon-circled-variant($additional-secondary-olive, #fff);
  &.icon-shadowed {
    @include icon-shadowed(#7bb35a);
  }
}

.icon-circled-additional-secondary-purple {
  @include icon-circled-variant($additional-secondary-purple, #fff);
  &.icon-shadowed {
    @include icon-shadowed(#6a509f);
  }
}

.icon-circled-additional-secondary-red {
  @include icon-circled-variant($additional-secondary-red, #fff);
  &.icon-shadowed {
    @include icon-shadowed(#ba5e5e);
  }
}

.icon-circled-additional-secondary-scarlet {
  @include icon-circled-variant($additional-secondary-scarlet, #fff);
  &.icon-shadowed {
    @include icon-shadowed(#c73f43);
  }
}

.icon-circled-additional-secondary-orange {
  @include icon-circled-variant($additional-secondary-orange, #fff);
  &.icon-shadowed {
    @include icon-shadowed(#c25a35);
  }
}

// neutral colors
.icon-circled-white {
  @include icon-circled-variant(#fff, $text-color);
  &.icon-shadowed {
    @include icon-shadowed($neutral-gray-lighter);
  }
}
