//===============
// Navbar
//===============

$navbar-form-collapse-breakpoint-min: $screen-sm-min;
$navbar-form-collapse-breakpoint-max: $screen-sm-max;

//== Navbar header and brand
//
//##
.navbar-header {
  float: none;
}

.navbar-brand {
  height: auto;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: all .6s ease;
  @media (min-width: $grid-float-breakpoint) {
    margin: 15px 0 0;
  }
  a {
    &:hover {
      text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 1px;
      text-decoration: none;
    }
  }
  span {
    font-family: Asenine Wide;
    letter-spacing: 1px;
    font-size: 33px;
    color: #fff;
    vertical-align: middle;
    margin-left: 5px;
    //transition: opacity 1s ease;
    @media (min-width: $grid-float-breakpoint) {
      font-size: 40px;
    }
    sup {
      font-size: 10px;
      top: -1.8em;
    }
  }
  img {
    width: 35px;
    height: auto;
    @media (min-width: $grid-float-breakpoint) {
      width: 43px;
    }
    transition: all .6s ease;
  }
}

// b3 override
.navbar > .container .navbar-brand {
  margin-left: 0;
}

// Shrink effect
@media (min-width: $grid-float-breakpoint) {
  .nav-shrinked {
    .navbar-header {
      float: left;
      .navbar-brand {
        margin: 0 0 0 -7px;
        padding: 7px;
        width: auto;
        height: auto;
        //overflow: hidden;
        img {
          width: 35px;
          height: auto;
        }
        span {
          color: $tertiary-blue-dark;
          opacity: 0;
          visibility: hidden;
          display: none;
        }
      }
    }
  }
}

//== Common navbar styles
//
//##
#navbar {
  // Adjust the navbar size for sm and views
  ul.navbar-nav {
    > li {
      > a {
        font-size: 18px;
        font-weight: $font-weight-light;
        @media (min-width: $screen-sm-min) {
          font-size: 15px;
          padding-left: 10px;
          padding-right: 10px;
        }
        @media (min-width: $screen-md-min) {
          font-size: 16px;
          padding-left: 10px;
          padding-right: 10px;
        }
        @media (min-width: $screen-lg-min) {
          font-size: 18px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}

//== Main nav
//
//##
.nav-header {
  @extend .dropdown-header;
}

//== Language nav
//
//##
.icon-earth {
  @extend .fa;
  @extend .fa-globe;
  @extend .fa-lg;
  color: $tertiary-blue-dark-white70;
}

//== Navbar form (search)
//
//##
.navbar-form {
  @media (min-width: $grid-float-breakpoint) {
    padding-left: 0;
  }
  .form-control {
    color: $tertiary-blue-dark-white70;
    background: $tertiary-blue-dark-darker10;
    border-color: $tertiary-blue-dark-darker10;
    padding-left: 15px;
    box-shadow: none;
    font-weight: $font-weight-light;
  }
  .input-group-btn {
    .btn {
      background: $tertiary-blue-dark-darker10;
      color: $tertiary-blue-dark-white70;
      border-color: $tertiary-blue-dark-darker10;
    }
  }

  // Placeholder
  ::-webkit-input-placeholder {
    font-weight: $font-weight-light;
    color: $tertiary-blue-dark-white70;
  }
  :-moz-placeholder {
    font-weight: $font-weight-light;
    color: $tertiary-blue-dark-white70;
  }
  ::-moz-placeholder {
    font-weight: $font-weight-light;
    color: $tertiary-blue-dark-white70;
  }
  :-ms-input-placeholder {
    font-weight: $font-weight-light;
    color: $tertiary-blue-dark-white70;
  }

  // Collapse effect
  @media (min-width: $navbar-form-collapse-breakpoint-min) and (max-width: $navbar-form-collapse-breakpoint-max) {
    .input-group {
      .form-control {
        display: none; // TODO remove display none, when we wanna use a hover/click transition
        width: 0;
        padding: 0;
        border: none;
      }
    }
    .input-group-btn {
      .btn {
        border-top-left-radius: $rounded-border-radius-base;
        border-bottom-left-radius: $rounded-border-radius-base;
      }
    }
  }
}
