//===============
// Sections
//===============

// TODO unify paddings
.section-1 {
  padding: 160px 0;
}

.section-2 {
  padding: 80px 0 60px;
  background: $tertiary-blue-dark;
  color: #fff;
}

.section-3  {
  padding: 160px 0 230px;
}

.section-4 {

}

.section-5 {
  padding: 90px 0;
}

.section-6 {
  padding: 20px 0;
  background: $tertiary-blue-dark;
  color: #fff;
}

.section-7 {
  background: $neutral-gray-lighter;
}

.section-title {
  margin-top: 0;
}

.footer-1 {
  background: #1f2942;
  padding: 40px 0 35px;
}

.footer-2 {
  background: $tertiary-blue-dark;
  padding: 45px 0 60px;
}

.footer-3 {
  background: #1f2942;
  padding: 15px 0 10px;
}