//== Custom Variables
//
//## Custom joomla.org template variables
$rounded-border-radius-base: 20px;
$rounded-border-radius-large: 25px;
$rounded-border-radius-small: 15px;

//== Colors
//
//## Gray and brand colors for use across the template.

// Secondary colors

// Additional secondary colors

// Teritary colors
$teritary-blue-dark: #242f50;

// Neutral colors

//== Begin Bootstrap Configuration
//
//## Override bootstrap variables

//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$brand-primary: #4d90cf;
$brand-success: #78c339;
$brand-info: #72bdeb;
$brand-warning: #fba633;
$brand-danger: #f7410c;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-serif: 'Merriweather', serif;
$font-family-base: $font-family-serif;

//== Navbar
//
//##

//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-bg: $teritary-blue-dark;

// Inverted navbar links
$navbar-inverse-link-color: #fff;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.
$btn-border-radius-base: $rounded-border-radius-base;
$btn-border-radius-large: $rounded-border-radius-large;
$btn-border-radius-small: $rounded-border-radius-small;

//== Forms
//
//##
$input-border-radius: $rounded-border-radius-base;